@charset "utf-8";
/*body{text-align:center;}*/
.cabecera{height:190px; background-image:url(../img/001c.jpg);background-repeat:repeat-x;}
.cabecera1{height:120px; background-image:url(../img/001c.jpg);background-repeat:repeat-x;}

.contenedor-pie {
    background-image: url("../img/007.jpg");
    background-repeat: repeat-x;
    color: #FFFFFF;
    /*height: 70px;*/
	text-align: center;
}

a.mostaza {
    color: #BD852D; text-decoration: none;
}

.txt-blanco-30{
	color:#FFFFFF; font-size:30px; font-weight:bold; text-align:left; padding-left:10px;	
}

.txt-blanco-16{
	color:#FFFFFF; font-size:16px; font-weight:bold; text-align:left; padding-left:10px;	
}

.caja-login {
    background-color: #FFFFFF; border: 1px solid #BBBBBB; width: 90px;
}

.banner-left {
	text-align: left; padding-left: 10px;
}

.banner-right {
	text-align: right; padding-right: 10px;
}
body .tabactive {
    background: #F0F0F0;
    border: solid 1px #C8C8C8;
    border-bottom: 1px solid #F0F0F0;
    box-shadow: 0 0 0 0px, 0 -8px 3px 0px, 0 0;
    }
body .tabactive a{
    color:#BD852D;
}

.txt-verde {
    color: green;
    font-size: 0.82em;
    font-weight: normal;
}
#formLogin .add-on
{
    background: url(../bootstrap/img/glyphicons.png) no-repeat;    
    width: 30px;
    }
#formLogin .label-id{
    background-position: -186px -95px;    
    }
#formLogin .label-pw
{
    background-position: -135px -958.5px;
}
.div-login-main{
    padding-top: 10px;
    background-color: #EEEEEE;
    text-align: right;
    padding: 6px 0;
    border-bottom: 1px solid #BBBBBB;
}

.div-login-main div {
    margin-right: 15px;
}
.container .popover-content{
    color:#000;
    background: #f6f6f6 url(./ui-lightness/images/ui-bg_glass_100_fdf5ce_1x400.png) 50% 50% repeat-x;

   
}

.container .popover-title{
     
     background-image: url(../img/007.jpg);
     background-repeat: repeat-x;
     color:#fff;

}

.container .emailigp {
    color: #BD852D;
    font-weight: bold;
    text-shadow: 0 0 0, 0 0 0, 0 0 0.05px #BD852D;
}
.action-btn{
    margin: 10px 0;
}

